html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


body::-webkit-scrollbar {
  width: 1rem;
}

html {
  scroll-behavior: smooth;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #1a1a29;
  min-height: 100vh;
}

/* background-image: url("https://ouch-cdn2.icons8.com/xcxKR5VU4ZNzgJ7CQ0-3gTDFPkCwpd1hOEVUagtSVgA/rs:fit:368:479/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvODAy/L2U2YzE0MGRjLTVm/ODEtNGRlZC05YTQz/LTY5YTA3MWQ5YmY3/Zi5zdmc.png");
 background-repeat: repeat;
*/

body::-webkit-scrollbar-track {
  background: rgba(23, 19, 19, 0.948);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

}